body{
    background-color: rgb(70, 70, 96);
    text-align: center;
    justify-content: center;
    background-image: url(pexels-codioful-\(formerly-gradienta\)-7130546.jpg);
}

.load {
margin: 50px 180px;
border: 4px solid rgb(27, 31, 41) ;
width: 100px;
height: 100px ;
border-radius: 50%;
border-right-color: transparent;
animation:rot 1s
            linear infinite;
}

@keyframes rot{
    100%{
        transform: rotate(360deg);
    }
}